name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Babashka
        run: sudo bash <(curl -s https://raw.githubusercontent.com/babashka/babashka/master/install)

      - name: Run tests
        run: bb test
